In [ ]:
# CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
# BEGIN
#SET N=N-1;
#   RETURN (
      # Write your MySQL query statement below.
        # SELECT DISTINCT Salary from Employee ORDER BY Salary DESC LIMIT N,1
        # select a.salary from (select salary,dense_rank() over(order by salary desc) as r from 
        # Employee) a where a.r=N
# );
# END

In [1]:
#RankScores_178
# select score, DENSE_RANK() over(order by score DESC) AS "rank" from Scores;