In [ ]:
#SQL COMMAND for combaining two tables
# Select 
#     p.firstName,p.lastName,
#     a.city,a.state
#     from Person p left join Address a 
#     on a.personId=p.personId;

In [ ]:
# Second Highest Salary
# Write your MySQL query statement below
#320ms
# select max(salary) as SecondHighestSalary from Employee 
#     where salary<(select max(salary) from Employee);


#LIMIT offset,row_count 
# The offset specifies the offset of the first row to return. The offset of the first row is 0, not 1.
# The row_count specifies the maximum number of rows to return.
#288ms
# select ifnull(
#     (select
#  distinct salary from Employee order by salary desc limit 1,1), Null) SecondHighestSalary;


#Dense_Rank()
#343
# Select ifnull((
#     SELECT tmp.salary from (select salary,DENSE_RANK() OVER(order by salary desc) as Denserank from Employee) 
#     tmp where tmp.Denserank=2 limit 1 ), Null) SecondHighestSalary;