In [1]:
#180 Consecutive numbers
# Write your MySQL query statement below
# select Distinct a.Num as ConsecutiveNums from Logs a
# join Logs b on a.Id=b.Id+1 and a.Num=b.Num
# join Logs c on a.Id=c.Id+2 and a.Num=c.Num;

#using lead
# With CTE as
# (select num,Lead(num,1) over(order by id) as Lead1,Lead(num,2) over (order by id) Lead2 
#     from Logs)

# select distinct num as ConsecutiveNums From CTE where num=Lead1 and num=Lead2;

In [2]:
# select a.name as Employee
# from Employee a
# join Employee b
# on a.managerId=b.Id
# and a.salary>b.salary;

In [3]:
#Duplicate Emails
# With CTE as
# (select email,row_number() over(partition by email order by id) as r from Person)
# select distinct email as Email from CTE where r>1;

#select distinct email as Email from Person Group by Email Having count(*)>1;

In [4]:
#Customers who never order
# select c.name as Customers from Customers c where c.id not in (select o.customerId from Orders o);

# select name as Customers from Customers c
# left join Orders o on c.id=o.customerId where o.customerId is Null;

In [ ]:
#Department Highest Salary
# select d.name Department,e.name Employee,e.salary Salary
# from Employee e join Department d
# on e.departmentId = d.id
# where (e.departmentId,e.salary) in (select departmentId,max(salary) from Employee Group by departmentId)

In [ ]:
# 185
# Department top three salaries
# With CTE AS
# (
#     select name,salary,departmentId,
#     Dense_rank() over (partition by departmentId order by salary desc) dr
#     from Employee
# )
# select d.name as Department,c.name as Employee,c.salary as Salary
# from CTE c join Department d 
# on c.departmentId=d.id
# where c.dr<=3